@import 'variables.scss';
@import '../stylesheet/css-reset.scss';
@import 'https://fonts.googleapis.com/css?family=Sedgwick+Ave';

body{
  color: rgb(99, 98, 98);
  background: rgba(204, 204, 204, 0.1);
}
h1{
  font-family: 'Sedgwick Ave', "cursive";
  background: $primary-color;
  color:white;
  font-size: 60px;
  text-align: center;
  padding: 20px 0;
}



// Temperature type
#tempType {
  display: inline-block;
  padding: 5px 5px;
  border: 2px solid black;
  border-radius: 16px;
  background: skyblue;
  position: relative;
  top: -15px;
  left: 80%;
  right: 20px;
  color: black;
}





.display__weather{
  width: 50%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  h4, #temperature{
    grid-column: span 2;
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    border-bottom: 2px solid #ccc;
  }
  span{
    width: 100%;
    padding: 15px 0;
    text-align: center;
    font-size: 22px;
  }
  #latitude, #longitude{
    // background: linear-gradient(white, #6AB3F3);
  }
  #minTemp, #maxTemp {
    // background: linear-gradient(#6AB3F3, #548EC0);
  }
  #pressure, #humidity {
    // background: linear-gradient(#548EC0, #3355733b);
  }
}

#searchPlace{
  display: block;
  text-align: center;
  outline: none;
  height: 30px;
  width: 30%;
  margin: 20px auto;
  color: rgb(99, 98, 98);
  background: rgba(204, 204, 204, 0.2);
  border: 2px solid #ccc;
  border-radius: 25px;
  padding: 5px 10px;
  font-size: 24px;
  transition: width .4s ease-in-out;
  &:focus{
    width: 40%;
  }
}

// search city
#search__city{
  h4{
    width: 50%;
    margin: 10px auto;
    border-bottom: 2px solid #ccc;
    font-size: 30px;
    text-align: center;
  }
}


// Average temperature 

#avgTemp{
  display: grid;
  grid-template-columns: auto 1fr auto 1fr;
  width: 50%;
  padding-left:50px; 
  margin: 0 auto;
  h4{
    margin: 10px auto;
    font-size: 16px;
    align-self: center;
    border:none;
  }
}